<!--
 * @Author: huangjy
 * @Date: 2020-11-22 19:08:08
 * @LastEditors: huangjy
 * @LastEditTime: 2020-11-28 22:46:27
 * @Description: file content
-->

{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
  <li class="breadcrumb-item" >New topic</li>
{% endblock %}

{% block content %}
<div class="mb-b">
  <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
</div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in board.topics.all %}
        <tr>
          <td>{{ topic.subject }}</td>
          <td>{{ topic.starter.username }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ topic.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
